body {
    margin:10px;
    padding:10px;
    background-color:#f2f2f2;
    font-family: "verdana";
    color:rgba(0, 0, 0, 0.6);
    text-shadow:0px -1px 1px white;
    background-image:url(brickwall.png);
}

hr {
    border-top:1px solid rgba(0, 0, 0, 0.1);
    border-bottom:0px;
    border-right:0px;
    border-left:0px;
    padding-bottom:20px;
}

#show-hide {
    color:black;
    font-weight: bold;
    position: absolute;
    right:5px;
    top:5px;
    text-decoration: none;
    display: block;
}

.settings {
    position: absolute;
    right:10px;
    top:128px;
    vertical-align:top;
    border:1px solid rgba(0, 0, 0, 0.2);
    width:400px;
    height:500px;
    margin-left:20px;
    box-sizing:border-box;
    padding:30px;
}

.settings-title {
    position:absolute;
    margin-left:115px;
    padding:5px 20px;
    background-color:#f2f2f2;
    margin-top:-45px;
    border:1px solid rgba(0, 0, 0, 0.2);
}

.position {
    background-color:rgba(0, 0, 0, 0.5);
    padding:4px;
    width:auto;
    text-shadow:none;
    color:white;
    position:absolute;
    margin-left:200px;
    margin-top:200px;
    font-size:10px;
    border-radius:4px;
    opacity:1;
}

.hide {
    opacity:0.0;
}


.title {
    text-align:center;
}

#canvas {
    position: relative;
    top:-502px;
    background-color:rgba(255, 255, 255, 0.3);
    margin:0 auto;
    border:1px solid rgba(0, 0, 0, 0.2);
}

#canvas_transp {
    background-color:rgba(255, 255, 255, 1.0);
    margin:0 auto;
    border:0px;
}

#colorpicker {
    position: relative;
    margin-top: 15px;
}

.tool {
    width:150px;
    height:50px;
    font-weight: bold;
    margin-bottom:10px;
    background: rgb(252,252,252);
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(221,221,221,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(221,221,221,1)));
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(221,221,221,1) 100%);
    background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(221,221,221,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(221,221,221,1) 100%);
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(221,221,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#dddddd',GradientType=0 );
    
    border:0px;
    border-radius:5px;
    box-shadow:0px 3px 10px -1px rgba(0, 0, 0, 0.6);
}

.tool:hover {
    cursor:pointer;
    background: rgb(252,252,252);
background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(239,239,239,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(239,239,239,1)));
background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(239,239,239,1) 100%);
background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(239,239,239,1) 100%);
background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(239,239,239,1) 100%);
background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(239,239,239,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#efefef',GradientType=0 );

}

.active, .active:hover {
    background: rgb(221,221,221);
background: -moz-linear-gradient(top,  rgba(221,221,221,1) 0%, rgba(252,252,252,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,1)), color-stop(100%,rgba(252,252,252,1)));
background: -webkit-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(252,252,252,1) 100%);
background: -o-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(252,252,252,1) 100%);
background: -ms-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(252,252,252,1) 100%);
background: linear-gradient(to bottom,  rgba(221,221,221,1) 0%,rgba(252,252,252,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#fcfcfc',GradientType=0 );

}